//Importando las variables
@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$rose;
    padding: 5rem 0;

    h3,
    p {
        text-align: center;
        color: v.$white;
    }

    .day {
        text-transform: uppercase;
        margin: 5rem 0;
    }
}

//No se envuelve tanto las clases, pues se pierde legibilidad
.scenarios-container {

    //Cuando el tamaño es mayor o igual al de una tablet
    @include m.tablet {
        @include m.grid (2, 5rem);
    }

    p {
        color: v.$black;
    }
}

.scenery {
    padding-top: 2rem;

    .name-scenery {

        //Se colocará un after, que es una pseudoclase que hace referencia a un elemento posterior a clase que se está haciendo referencia, mediante esta forma se puede insertar imágenes, el content se coloca inmediatamente después de la clase.
        &::after {
            content: '';
            //Para que se coloque en una línea siguiente
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            //Que la imagen no se repita
            background-repeat: no-repeat;
            //Que se encuentre al centro
            background-position: center center;
            //Centrando la imagen, cuando es automático añade el mismo tamaño, tanto a la izquierda como a la derecha
            margin: 2rem auto;
        }
    }
}

//La imagen varía dependiendo del género
.rock .name-scenery::after {
    background-image: url('../../../build/img/icono_rock.avif');
}

.edm .name-scenery::after {
    background-image: url('../../../build/img/icono_edm.avif');
}

.calendar {
    @include m.reset-list;
    
    //Etiqueta li
    li {
        padding: 2.5rem;
        font-weight: 700;
    }

    //Que el span tenga otro peso en la letra
    span {
        font-weight: 400;
    }
}

.bg-yellow {
    background-color: v.$yellow;

    //Los hijos impares se coloca odd, si se quiere que se agregue en los pares 2n
    li:nth-child(odd) {
        //Oscureciendo el color
        background-color: darken(v.$yellow, 10%);
    }
}

.bg-green {
    background-color: v.$green;

    li:nth-child(odd) {
        background-color: darken(v.$green, 10%);
    }
}