@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
  position: relative;
  min-height: 50rem;
  max-height: 70rem;
  overflow: hidden; // Para esconder la parte del video que sobresale

  .overlay {
    position: absolute;
    //Escogiendo una gradiente, un color que tenga cierta transparencia, para que los elementos de atrás se puedan visualizar, las gradientes pueden ser lienales (Izquierda a derecha) o radiales (hacia el centro)
    background: rgb(126, 2, 195);
    background: linear-gradient(270deg, rgba(126, 2, 195, 0.5) 0%, rgba(255, 0, 110, 0.3) 100%);
    //Que ocupe todo el espacio disponible con respecto al contenedor
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //Etiqueta video
  video {
    width: auto;
    display: block;

    @include m.desktop {
      width: 100%;
    }
  }
}

.content-video {
  z-index: 1; // Esto pasa por la posición relativa del video. Con 0 no pasa nada, con 1 basta para que el contenido superponga el video. con -1 estaría detrás.

  h2 {
    color: v.$white;
    font-size: 7rem;
    margin: 0;
  }

  p {
    background-color: v.$rose;
    //Que ocupe sólo el contenido de la línea de texto
    display: inline-block;
    padding: 1rem 2rem;
    color: v.$white;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0;
  }
}